<!-- // RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Do Le Long An,Truong Hong Van,Bui Tuan Anh,Lao Vinh Khang,Pham Le Quynh Anh
// ID: s3963207,s3957034,s3970375,s3891925,s3927427
// Acknowledgement: MDN Web Docs, RMIT Canvas, ChatGPT, NPM Packages' Docs -->


<footer class="pt-4 mx-lg-auto">
    <div id="bubble-wrapper"></div>

    <div id="footer">
      <div class="footer-about-us ">
            <h6 class="display-6 pb-4"> LAZADA - LEADING ONLINE SHOPPING CHANNEL</h6>
            <div class="about-us-content d-flex justify-content-center align-items-center">
              <p class="fw-light pe-3">
                  Lazada is Asia’s leading
                  online department store offering a fast, secure and convenient online
                  shopping experience with a broad product offering in categories
                  ranging from fashion, consumer electronics to household goods, toys
                  and sports equipment. Lazada is always striving to offer its customers
                  the best possible offering – including multiple payment options, free
                  returns and extensive customer service and warranty commitments.
                  Lazada has a number of brand named products including various
                  categories for customers to choose from i.e. Fashion, Electronics,
                  Toys, Sporting goods and Home Appliances. Lazada aims to provide the
                  best products and impeccable service to the customer with privileges
                  including Free Return, Cash On Delivery and Customer Service in order
              </p>
              <div>
                <img src="/img/lazada_img.png" alt="Lazada advertising image" class="ms-2">
              </div>
            </div>
            
      </div>
      <div id="footer-content">
        <div class="footer-section">
          <h3 class="footer-section-title">Contact Us</h3>
          <div class="footer-section-links">
            <a href="/home/help">Help Center</a>
            <a href="/home/how">How to buy</a>
            <a href="/home/ship">Shipping & Delivery</a>
          </div>
        </div>
        <div class="footer-section">
          <h3 class="footer-section-title">What's New</h3>
          <div class="footer-section-links">
            <a href="/home/Samsung">Samsung</a>
            <a href="/home/Apple">Apple</a>
            <a href="/home/Oppo">Oppo</a>
          </div>
        </div>
        <div class="footer-section">
          <h3 class="footer-section-title">Follow Us</h3>
          <div class="footer-section-links">
            <a href="/home/Facebook"
              >Facebook <i class="fa-brands fa-facebook"></i
            ></a>
            <a href="/home/LinkedIn"
              >LinkedIn <i class="fa-brands fa-linkedin-in"></i
            ></a>
            <a href="/home/Pinterest"
              >Pinterest <i class="fa-brands fa-pinterest"></i
            ></a>
          </div>
        </div>
        <div class="footer-section">
          <h3 class="footer-section-title">Lazada Vietnam</h3>
          <div class="footer-section-links">
            <a href="">All Categories</a>
            <a href="">Terms & Conditions</a>
            <a href="">Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="footer-section">
        <p class="footer-copyright"><strong>© Lazada 2023</strong></p>
      </div>
    </div>
</footer>