<section id="header">
    <a href="index.html"
      ><img src="/img/logo.png" alt="logo" style="width: auto; height: auto"
    /></a>
    <div>
      <ul id="login">
        <li><a href="/">Login</a></li>
        <li><a href="/signup">Register</a></li>
        <div><i class="fa-solid fa-bars" id="menu-icon"></i></div>
      </ul>
    </div>
  </section>