<section id="header">
    <img src="/img/logo.png" alt="logo" style="width: auto; height: auto" />
    <div>
      <ul id="login">
        <li><a href="/">Login</a></li>
        <li><a href="/register-customer">Register</a></li>
      </ul>
    </div>
  </section>