<!-- // RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Do Le Long An,Truong Hong Van,Bui Tuan Anh,Lao Vinh Khang,Pham Le Quynh Anh
// ID: s3963207,s3957034,s3970375,s3891925,s3927427
// Acknowledgement: MDN Web Docs, RMIT Canvas, ChatGPT, NPM Packages' Docs -->


<section id="header">
    <img src="/img/logo.png" alt="logo" style="width: auto; height: auto" />
    <div>
      <ul id="login">
        <li><a href="/">Login</a></li>
        <li><a href="/register-customer">Register</a></li>
      </ul>
    </div>
  </section>