<form class="login-form" action="/api/user/register-customer" method="post" enctype="multipart/form-data">
    <div class="form-control">
      <label>Username</label> 
      <input type="text" placeholder="Enter username" name="userName"required>
     </div> 
     <div class="form-control"> 
      <label>Password</label> 
      <input type="password" placeholder="Enter password" name="password" onkeyup="checkPassword(this.value)" required>
      <span id="toggleEye"></span>
      <div class="validation">
        <ul>
          <li id="lower">At least one lowercase character</li>
          <li id="upper">At least one uppercase character</li>
          <li id="number">At least one number</li>
          <li id="special">At least one special character</li>
          <li id="length">At least 8 chracters</li>
        </ul>
      </div>
     </div>
     <div class="form-control">
      <label>Profile picture</label> 
      <input type="file" id="image_input" name="profilePicture">
      <div id="display-img"></div>
     </div>
     <div class="form-control"> 
      <label>Full name</label>
      <input type="text" placeholder="Enter your name" name="name"required>
     </div>
     <div class="form-control"> 
      <label>Address</label> 
      <input type="text" placeholder="Enter address" name="address" required>
     </div>
     <button class="submit">Register</button>
</form>