<!-- // RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Do Le Long An,Truong Hong Van,Bui Tuan Anh,Lao Vinh Khang,Pham Le Quynh Anh
// ID: s3963207,s3957034,s3970375,s3891925,s3927427
// Acknowledgement: MDN Web Docs, RMIT Canvas, ChatGPT, NPM Packages' Docs -->


<div class="button-box">
    <div class="btn">
      <a href="/register-customer"><button type="button" class="toggle-btn" onclick="leftClick()">Customer</button></a>
      <a href="/register-vendor"><button type="button" class="toggle-btn" onclick="leftClick()">Vendor</button></a>
      <a href="/register-shipper"><button type="button" class="toggle-btn" onclick="leftClick()">Shipper</button></a>
    </div>
</div>