<div class="button-box">
    <div class="btn">
      <a href="/register-customer"><button type="button" class="toggle-btn" onclick="leftClick()">Customer</button></a>
      <a href="/register-vendor"><button type="button" class="toggle-btn" onclick="leftClick()">Vendor</button></a>
      <a href="/register-shipper"><button type="button" class="toggle-btn" onclick="leftClick()">Shipper</button></a>
    </div>
</div>