<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <form action="/submitform" method="POST">
        <label for="name">Product name:</label>
        <input type="text" id="name" name="name" required>
      
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" required>
      
        <label for="description">Description:</label>
        <textarea id="text" name="description" required></textarea>

        <label for="categories">Categories:</label>
        <select name="categories">
        <option value="eletronics">Eletronics</option>
        <option value="beauty products">Beauty Products</option>
        <option value="toys">Toys</option>
        </select><br>
      
        <button type="submit">Submit</button>
      </form>
      

    
</body>
</html>