@keyframes wave {
    from, to {
        transform: translate(-50%, 0%);
    }

    50% {
        transform: translate(-50%, -20%);
    }
}

#bubble-wrapper {
    height: 100%;
    width: 100%;

    position: fixed;
    bottom: 0px;

    overflow: hidden;
    pointer-events: none;
    z-index: 999;
}

.bubble {
    height: max(300px, 30vw);
    width: max(300px, 30vw);

    background-color: var(--background-color);  
    border-radius: 100%;

    position: absolute;
    left: 50%;
    top: 100%;

    animation: wave 2s ease-in-out infinite;
}

@media(prefers-reduced-motion) {
    .bubble {
        animation: none;
        display: none;
    }
}

/* -- Footer styles -- */

#footer {
    background-color: var(--footer-background-color);
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#footer-content {
    padding: 8rem 16rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.footer-section {  
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-section-title {
    color: white;
    font-size: 1.5rem;
}

.footer-section-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 160px;
}

.footer-section-links > a {
    color: white;
    text-decoration: none;
}

.footer-section-links > a:hover {
    text-decoration: underline;
}

@media(max-width: 900px) {
#footer-content {
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-section-title {    
    flex-shrink: 0;
    width: 120px;
}
}

@media(max-width: 600px) {
#footer {
    position: relative;  
    margin-top: 90vh;
}

#footer-content {
    padding: 2rem;
}

.footer-section-title {    
    font-size: 1rem;
}

.footer-section-links > a {
    font-size: 0.8rem;
}
}

