<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/header') %>
    <!-- This part contains internal files -->
    <link rel="stylesheet" href="/css/login-signup.css" />
    
  </head>
  <body>
    <%- include ('../partials/navbar') %>
    <section id="main">
      <section id="side">
          <img src="/img/side.png" alt="shopping-illustrate">
      </section>

      <section id="main">
        <div class="login-container">
          <%- body -%>
        </div>
      </section>
    </section>
    <script src="/js/openMenu.js"></script>
    <script src="/js/password.js"></script>
    <script src="/js/checkPassword.js"></script>

  </body>
</html>
