<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/header') %>
    <!-- This part contains internal files -->
    <link rel="stylesheet" href="/css/dashboard.css">

  </head>
  <body>
    <%- include ('../partials/side-navbar') %>
    <main class="dashboard">
        <%- body -%>
    </main>
  </body>
</html>
