<p class="title">Sign Up as</p>

<%- include ('../partials/signup-role-btn') %>

<div class="seperator"></div>

<form class="login-form" action="/register-customer" method="post" enctype="multipart/form-data">
  
  <%- include ('../partials/common-signup') %>

  <button class="submit">Register</button>
</form>
<script src="/js/checkPassword.js"></script>



