<p class="title">Sign Up as</p>

<%- include ('../partials/signup-role-btn') %>

<div class="seperator"></div>

<form id="validForm" class="login-form" action="/register-customer" method="post" enctype="multipart/form-data">
  
  <%- include ('../partials/common-signup') %>

  <button class="submit" type="submit">Register</button>
</form>



