<p class="title">Nice to see you again!</p>
<div class="seperator"></div>
<form id="validForm" class="login-form" action="/login" method="post">
  <div class="form-control">
    <input type="text" placeholder="Email or phone number" name="userName" id="userName">
    </div> 
    <div class="form-control"> 
    <input type="password" id="password" placeholder="Password" name="password">
    </div>
    <button class="submit" type="submit">Sign in</button>
</form>
<div class="sub-login">
  <input type="checkbox" id="remmeber_me" class="toggle">
  <label for="remmeber_me" style="color: black;"> Remember Me</label>
  <a href="#">Forgot password?</a>
</div>
<br>
<p>
  Don't have an account? <a href="/register-customer" style="color: #0203ac">Get Started</a>
</p>


