<p class="title">Sign Up as</p>

<%- include ('../partials/signup-role-btn') %>

<div class="seperator"></div>

<form class="login-form" action="/register-shipper" method="post" enctype="multipart/form-data">

  <%- include ('../partials/common-signup') %>

  <div class="form-control">
    <label>Your name</label>
    <input type="text" placeholder="Enter your name" name="name" />
  </div>
  <div class="form-control">
    <label for="distribution-hub">Distribution Hub:</label>
    <select name="hubName" id="hubName">
      <option value="">--Select a distribution hub--</option>
      <option value="GHTK">GHTK</option>
      <option value="aha-move">Aha Move</option>
      <option value="viettel">Viettel</option>
      <option value="ghn">Giao Hàng Nhanh</option>
    </select>
    <input type="hidden" name="hubAddress" id="hubAddress" value="">
  </div>
  <button class="submit">Register</button>
</form>
<script src="/js/checkPassword.js"></script>
<script src="/js/shipper-create.js"></script>





