<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Future Feature</li>
  </ol>
</nav>

<div class="page d-flex flex-wrap">
  <div class="image-container bg-position-center bg-no-repeat bg-cover flex-grow-1 flex-shrink-1 vh-100 position-relative">
    <div
      class="time text-white text-uppercase w-50 d-flex justify-content-center position-absolute top-50 start-50 translate-middle text-align-center">
      <span class="ps-4 fs-4">
        <div class="fs-2" id="days"></div>
        Days
      </span>
      <span class="ps-4 fs-4">
        <div class="fs-2 ps-3" id="hours"></div>
        Hours
      </span>
      <span class="ps-4 fs-4">
        <div class="fs-2 ps-3" id="minutes"></div>
        Minutes
      </span>
      <span class="ps-4 fs-4">
        <div class="fs-2 ps-3" id="seconds"></div>
        Seconds
      </span>
    </div>
  </div>
  <div class="flex-grow-1 flex-shrink-1 vh-100 position-relative">
    <div class="container position-absolute top-50 start-50 translate-middle text-align-center">
      <h2 class="fs-2 text-center text-dark border-bottom-0">We will fix this soon</h2>
      <h6 class="fw-light text-center pt-2">Subscribe to get notification it is done</h6>
        <form id="newsletter" class="mt-4 d-flex flex-column justify-content-center align-items-center">
          <input class="form-control pt-2 pb-2 rounded-3" type="text" placeholder="Enter Your Email" />
          <button type="button" class="btn text-white btn-dark mt-3 pt-2 pb-2 w-50 cursor-pointer rounded-3">Subscribe</button>
        </form>
    </div>
  </div>
</div>

<script src="/js/404.js"></script>
<script src="/js/api/unsplashAPI.js"></script>
