<!DOCTYPE html>
<html>
<head>
	<title>Login Success</title>
</head>
<body>
	<h1>This is Customer page</h1>
	
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
      </form>
      <button onclick="window.location.href='/logout'">Logout</button>
</body>
</html>