<<<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <base href="/"> 
    <script
      src="https://kit.fontawesome.com/625c7efa43.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" ></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <seciton id="main">
      <secion id="side">
          <img src="/img/side.png" alt="shopping-illustrate">
      </secion>
      <h1>Profile</h1>
  </seciton>
 

<!-- update-profile.html -->


<form id="update-form" action="/updateProfile" method="POST" enctype="multipart/form-data">
    <% if (role === 'vendor') { %>
      <label for="business-address">Business Address:</label>
      <input type="text" id="business-address" name="businessAddress" placeholder="<%= businessAddress %>" >
    <% } else if (role === 'customer') { %>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="<%= name %>" >
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" placeholder="<%= address %>" >
    <% } else if (role === 'shipper') { %>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="<%= name %>" >
    <% } %>
    <label for="profile-picture">Profile Picture:</label>
    <input type="file" name="profilePicture">
    <button type="submit">Update Profile</button>
  </form>
  

     


  <script src="/js/script.js"></script>
  <script src="/js/checkPassword.js"></script>
  <script src="/js/shipper-create.js"></script>
  </body>
</html>
>>