<h1>Login Success</h1>
<h2>Here is Token: </h2></p><p><%= token %></p>
<p>Role</p> 
<%= role %>
<button onclick="window.location.href='/vendor'">Go to Vendor Page</button>
<button onclick="window.location.href='/customer'">Go to Customer Page</button>
<button onclick="window.location.href='/shipper'">Go to Shipper Page</button>
<button onclick="window.location.href='/myProfile'">Go to Profile Page</button>


<script>
// function redirectToAuthorizedPage() {
//   const token = '<%= token %>';
//   window.location.href = '/api/user/vendor';
//   axios.get('/api/user/protected', {
//     headers: {
//         'Authorization': 'Bearer ' + token
//     }
//   })
//   .then(function (response) {
//     console.log(response);
//   })
//   .catch(function (error) {
//     console.log(error);
//   });
// }

function redirectToUnauthorizedPage() {
  window.location.href = '/vendor1';
}
</script>
