<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Update Product</title>
  </head>
  <body>
    <h1>Update Product</h1>
    <form action="/home/product/<%= product._id %>/update" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= product.title %>">
      <br>
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" min="0" value="<%= product.price %>">
      <br>
      <label for="description">Description:</label>
      <textarea id="description" name="description"><%= product.description %></textarea>
      <br>
      <br>
      <label for="category">Categories:</label>
      <select id="category" name="category">
        <option value="">Select a category</option>
        <option value="eletrics" <% if (product.categories === "eletrics") { %>selected<% } %>>Eletrics</option>
        <option value="beauty products" <% if (product.categories === "beauty products") { %>selected<% } %>>Beauty Products</option>
        <option value="toys" <% if (product.categories === "toys") { %>selected<% } %>>Toys</option>
      </select>
      <br>
      <input type="submit" value="Update">
    </form>
  </body>
</html>