<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Update Product</title>
  </head>
  <body>
    <h1>Update Product</h1>
    <form action="/vendor/<%= product._id %>/update" method="POST">
      <label for="title">Name:</label>
      <input type="text" id="title" name="name" placeholder="<%= product.name %>">
      <br>
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" min="0" placeholder="<%= product.price %>">
      <br>
      <label for="description" >Description:</label>
      <textarea id="description" name="description" placeholder="<%= product.description %>"></textarea>
      <br>
      <br>
      <label for="category">Categories:</label>
      <select id="category" name="category">
        <option value="">Select a category</option>
        <option value="Tablet" <% if (product.categories === "Tablet") { %>selected<% } %>>Tablet</option>
        <option value="Laptop" <% if (product.categories === "Laptop") { %>selected<% } %>>Laptop</option>
        <option value="Phone" <% if (product.categories === "Phone") { %>selected<% } %>>Phone</option>
        <option value="Sound" <% if (product.categories === "Sound") { %>selected<% } %>>Sound</option>
        <option value="Keyboard" <% if (product.categories === "Keyboard") { %>selected<% } %>>Keyboard</option>
      </select>
      <br>
      <br>
      <input type="submit" value="Update">
    </form>
  </body>
</html>