<!DOCTYPE html>
<html>
<head>
	<title>Login Success</title>
</head>
<body>
	<h1>This is vendor page</h1>
    <button onclick="window.location.href='/api/user/logout'">Logout</button>
	
    
</body>
</html>
