<!DOCTYPE html>
<html>
<head>
	<title>Login Success</title>
</head>
<body>
	<h1>This is Vendor page</h1>
    <button onclick="window.location.href='/logout'">Logout</button>
	<button onclick="window.location.href='/myProfile'">Go to Profile Page</button>
	
    
</body>
</html>
