.page {
  background: #F6F7F9;
}


.btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1023px) {
  .page {
    display: flex;
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 767px) {
  .time {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 50px;
  }
  #days {
    padding-left: 0.3rem;
  }
  #hours {
    padding-left: 1.5rem;
  }
  #minutes,
  #seconds {
    padding-left: 2rem;
  }
}
