/* Navigation Bar */

#header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all 0.50s ease;
    position: relative;

}

#navbar {
    display: flex;
    background-color: var(--background-color);
    list-style: none;
}

#navbar a {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.50s ease;
    text-decoration: none;
}

#navbar a:hover {
    color: var(--hover-color);
}

#navbar a.active {
    color: var(--primary-color)
}

#login {
    display: flex;
    text-decoration: none;
    list-style: none;
}

#login a {
    margin-right: 25px;
    margin-left: 10px;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.50s ease;
    text-decoration: none;

}

#login a:hover {
    color: var(--hover-color);
}

#menu-icon {
    font-size: 25px;
    color: black;
    cursor: pointer;
    z-index: 10001;
    display: none;
}


/*Main section */
#main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
}


.login-container {
    border: none;
    border-radius: 20px;
    max-width: 450px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.button-box {
    width: 320px;
    margin: 5px 10px;
    position: relative;
    border-radius: 30px;
    background: #ffffff;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error {
    color: red;
}

.toggle-btn {
    cursor: pointer;
    padding: 10px 5px;
    margin-left: 1rem;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    border: 1px solid var(--primary-color);
    transition: all 0.5s linear;
}


.toggle-btn:hover {
    background-color: var(--hover-color);
}


.seperator {
    width: 150px;
    height: 4px;
    background-color: #0203AC;
    margin: 14px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 100%;
    background: #ffffff;
    color: #000000;
    letter-spacing: 0.5px;
    padding: 14px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button.submit {
    color: #ffffff;
    padding: 14px 64px;
    width: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
}

.sub-login {
    width: 375px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    font-size: 13px;
    color: black;
}

.sub-login a {
    text-decoration: none;
    color: black;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;

}

input[type="checkbox"].toggle+label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle+label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: hsl(0, 0%, 60%);
    border-radius: 1em;
    margin-right: 1em;
    transition: 200ms ease-in-out;

}

input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    left: 0.1em;
    width: 1em;
    height: 1em;
    background-color: hsl(208, 97%, 77%);
    border-radius: 1em;
    margin-right: .25em;
    transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked+label::before {
    background-color: hsl(226, 96%, 71%);
}

input[type="checkbox"].toggle:checked+label::after {
    transform: translateX(100%);
    background-color: hsl(208, 97%, 77%);

}

#toggleEye {
    position: absolute;
    top: 38px;
    right: 20px;
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#toggleEye::before {
    content: '\f06e';
    font-family: fontAwesome;
}

#toggleEye.hide::before {
    content: '\f070';
}

.validation {
    background: var(--primary-color);
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;

}

.validation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

.validation ul li {
    position: relative;
    list-style-type: none;
    color: white;
    padding: 5px 20px;
    font-size: 0.85em;
    transition: 0.5s;
}

.validation ul li::before {
    content: '\f192';
    width: 20px;
    height: 10px;
    display: inline-flex;
    font-family: fontAwesome;
}

.validation ul li.valid {
    color: rgba(255, 255, 255, 0.5)
}

.validation ul li.valid::before {
    content: "\f00c";
    color: #0f0;
    font-family: fontAwesome;
}


/* Responsive Styling */
@media (max-width: 1280px) {
    #header {
        padding: 14px 2%;
        transition: 2s;
    }

    #navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }

}

@media (max-width: 1023px) {
    #navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease-in
    }

    #navbar a {
        color: white;
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease-in
    }

    #navbar a.active {
        color: white
    }

    #navbar a:hover {
        color: black;
        transform: translateY(2px);
    }

    #navbar.open {
        right: 2%;
    }

    #side {
        position: absolute;
        z-index: -1;
    }

    #side img {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .login-container {
        margin-left: 10%;
    }
    .container {
        padding: 10px;
    }
    .btn {
        flex-flow: column wrap;
    }

    .toggle-btn {
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    #side {
        display: none;
    }
}