<section id="header">
    <a href="index.html"
      ><img src="/img/logo.png" alt="logo" style="width: auto; height: auto"
    /></a>
    <div>
      <ul id="navbar">
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="discover.html">Discover</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <div>
      <ul id="login">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <div><i class="fa-solid fa-bars" id="menu-icon"></i></div>
      </ul>
    </div>
  </section>